@{
    ViewData["Title"] = "EditarTarea";
}
<form action='@Url.Action("EditarTareaGuardar", "home")' method="POST" enctype="multipart/form-data">
        Ingresa tu titulo : <input type="nombre" name="titulo">
        Ingresa tu descripcion : <input type="password" name="descripcion">
        Ingresa tu fecha : <input type="nombre" name="fecha">



        <input type="submit" name="enviar">
    </form>