    @{
    ViewData["Title"] = "Login";
}
    <form action='@Url.Action("Login", "home")' method="POST" enctype="multipart/form-data">
        Ingresa tu Nombre : <input type="nombre" name="username">
        Ingresa tu contraseña : <input type="password" name="password">
        <input type="submit" name="enviar">
    </form>