@{
    ViewData["Title"] = "Tareas";
}
@foreach (Tarea tarea in ViewBag.Tareas)
{
    <div>
        <h3>@tarea.titulo</h3>
        <p>@tarea.descripcion</p>
        <a href='@Url.Action("EditarTarea", "Home",new{@tarea.id})'>EDITAR</a>
    </div>
        
        <form action='@Url.Action("CrearTarea", "Home")' method="GET" enctype="multipart/form-data">
            <input type="submit" value="CREAR TAREA">
        </form>
}