@{
    ViewData["Title"] = "Tareas";
}
@foreach (Tarea tarea in ViewBag.Tareas)
{
    <div>
        <h3>@tarea.titulo</h3>
        <p>@tarea.descripcion</p>
    </div>
<form action='@Url.Action("EditarTarea", "Home")' method="GET" enctype="multipart/form-data">
            <input type="submit" value="EDITAR TAREA">
    </form>
<form action='@Url.Action("CrearTarea", "Home")' method="GET" enctype="multipart/form-data">
            <input type="submit" value="CREAR TAREA">
    </form>
}